---
layout: default
title: Projects
<!-- title: Projects and more -->
---

<a href="{{ " /" | relative_url }}">{{ site.theme_config.back_home_text }}</a>

<header>
  <h1>Projects</h1>
</header>
<body>

  {% include card_list.html collection=site.projects %}


  <!-- {% for project in site.projects %} -->
  <!-- <div class='project'>
    <h2>
      <a href="{{ project.url }}">
        {{ project.name }} 
      </a>

    </h2>
    <h3>
      {{ project.position }}
    </h3>
    <p>{{ project.desc | markdownify }}</p>
  </div>
  {% endfor %} -->

</body>