---
layout: default
title: Projects
---


<header>
  {% if site.theme_config.show_navbar == true %}
  {% include horizontal_list.html collection=site.data.navbar.navbar_entries %}
    <div class="dashed"></div>
  {% endif %}
  <h1>Projects</h1>
</header>
<body>

  {% include card_list.html collection=site.projects %}


  <!-- {% for project in site.projects %} -->
  <!-- <div class='project'>
    <h2>
      <a href="{{ project.url }}">
        {{ project.name }} 
      </a>

    </h2>
    <h3>
      {{ project.position }}
    </h3>
    <p>{{ project.desc | markdownify }}</p>
  </div>
  {% endfor %} -->

</body>