---
layout: default
---
<header>
  {% if site.theme_config.show_navbar == true %}
  {% include horizontal_list.html collection=site.data.navbar.navbar_entries %}
    <div class="dashed"></div>
  {% endif %}
</header>

<h1 class="post-title">{{ page.title }} - {{ page.position }}</h1>
{% include date_and_social_share.html %}
<h4>{{ page.desc }}</h4>
{% if page.proj-url %}
  <h5>Try it out <a href="{{ page.proj-url }}">
    here!
  </a></h5>
{% endif %}

{% if page.tech.size != 0 %}
  <h4>technologies used: {{ tech.length }}</h4>
    {% include vertical_tech_list.html collection=page.tech %}
{% endif %}

<!-- Product screenshots here -->
{% if page.show-img %}
  <img src="../assets/images/{{ page.img }}">
{% endif %}

{% if page.about %}
  <h4>About:</h4>
  <p>
    {{ page.about }}
  </p>
{% endif %}

{% if page.role-desc %}
  <h4>Role:</h4>
  <p>{{ page.role-desc }}</p>
{% endif %}



{{ content }}
